.navbar {
	&__logo{
		img{
			max-width: 120px;
		}
	}
	&__links{
		a {
			color: $white !important;
			margin: 0 15px;
			opacity: .5;
			transition: .2s;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__phone{
		font-size: 20px;
		color: $white;
	}
}